<div>
    <div class="side-bar">

        <div class="sidebar_button">
            <div class="row">
                <div class="col-md-1 icn">
                    <i class="material-icons">school</i>
                </div>
                <div class="col-md-9 name">

                    <p class="sidebar_links" routerLink="/academics" (click)="userAcademics()" routerLinkActive="nav-link active">Academics</p>
                </div>
            </div>
        </div>

        <div class="sidebar_button2">
            <div class="row">
                <div class="col-md-1 icn">
                    <i class="material-icons">notifications_active</i>
                </div>
                <div class="col-md-9 name">
                    <p class="sidebar_links" routerLink="/notifications" routerLinkActive="nav-link active ">Notifications</p>
                </div>
            </div>
        </div>
        <div class="sidebar_button2">
            <div class="row">
                <div class="col-md-1 icn">
                    <i class="material-icons">receipt</i>
                </div>
                <div class="col-md-9 name">
                    <p class="sidebar_links" routerLink="/certification" routerLinkActive="nav-link active ">Certification</p>
                </div>
            </div>
        </div>


        <div class="sidebar_button2">
            <div class="row">
                <div class="col-md-1 icn">
                    <i class="material-icons">touch_app</i>
                </div>
                <div class="col-md-9 name">
                    <p class="sidebar_links" routerLink="/prepare_certification" routerLinkActive="nav-link active ">Prepare Certificates</p>
                </div>
            </div>
        </div>


        <div class="sidebar_button2">
            <div class="row">
                <div class="col-md-1 icn">
                    <i class="material-icons">emoji_events</i>
                </div>
                <div class="col-md-9 name">
                    <p class="sidebar_links" routerLinkActive="nav-link active">Grades</p>
                </div>
            </div>
        </div>


        <div class="sidebar_button2">
                <div class="row">
                    <div class="col-md-1 icn">
                        <i class="material-icons">emoji_people</i>
                    </div>
                    <div class="col-md-9 name">
                            <p class="sidebar_links" routerLink="/attendance" routerLinkActive="nav-link active ">Attendence</p>
                    </div>
                </div>
            </div>


            <div class="sidebar_button2">
                    <div class="row">
                        <div class="col-md-1 icn">
                            <i class="material-icons">sports_handball</i>
                        </div>
                        <div class="col-md-9 name">
                            <p class="sidebar_links" routerLinkActive="nav-link active">Extra Curricular</p>
                        </div>
                    </div>
                </div>


                <div class="sidebar_button2">
                        <div class="row">
                            <div class="col-md-1 icn">
                                <i class="material-icons">poll</i>
                            </div>
                            <div class="col-md-9 name">
                                <p class="sidebar_links" routerLinkActive="nav-link active ">Student Progress</p>
                            </div>
                        </div>
                    </div>
            

        <div class="sidebar_button2">
        </div>

        <div class="sidebar_button2">
        </div>

        <div class="sidebar_button2">
            <div class="row">
                <div class="col-md-1 icn">
                    <i class="material-icons">person_add</i>
                </div>
                <div class="col-md-9 name">
                        <p class="sidebar_links" routerLink="/register" routerLinkActive="nav-link active ">User Registration</p>
                    </div>
                </div>
            </div>
    </div>
</div>