.side-bar {
  margin-left: -15px;
  width: 100%;
  // background-color: #263238;
}

.sidebar_links {
  width: 100%;
  color: aliceblue;
  margin-left: 30px;
  padding-top: 20px;
  font-family: "Roboto";
  font-weight: 300;
}

.sidebar_button {
  // background-color: aqua;
  height: 100%;
  margin-bottom: 0px;
  width: 120%;
}
.sidebar_button2 {
  width: 120%;
  height: 100%;
  // height: 80px;
  // margin-top: -15px;
}
.sidebar_button:hover {
  cursor: pointer;
  background-color: #34444dee;
}
.sidebar_button2:hover {
  cursor: pointer;
  background-color: #34444dee;
}

.icn {
  color: aliceblue;
  padding-top: 18px;
  padding-left: 30px;
}
.name{
    margin-left: -30px;
}

.nav-link{
  transition: 0.3s;
  color: white;
  background-color: #34444dee;  
}
.nav-text{
  font-weight: 500;
}