<div>
    <div class="side-bar">
        <div class="sidebar_button">
            <p class="sidebar_links" routerLink="/notifications">Notifications</p>
          
        </div>
        <div class="sidebar_button2">
            <p class="sidebar_links">Grades</p>
         
        </div>
        <div class="sidebar_button2">
            <p class="sidebar_links">Academics</p>
            <!-- <hr> -->
        </div>
        <div class="sidebar_button2">
            <p class="sidebar_links">Attendence</p>
            
        </div>
        <div class="sidebar_button2">
            <p class="sidebar_links">Item 5</p>
            
        </div>
        <div class="sidebar_button2">
            <p class="sidebar_links">Item 6</p>
        </div>
    </div>
</div>