<div>
    <div class="side-bar">

        <div class="sidebar_button" routerLink="/academics"  routerLinkActive="nav-link active ">
            <div class="row">
                <div class="col-md-1 icn">
                    <i class="material-icons">school</i>
                </div>
                <div class="col-md-9 name">

                    <p class="sidebar_links" (click)="userAcademics()" routerLinkActive="nav-text active " >Academics</p>
                </div>
            </div>
        </div>

        <div class="sidebar_button2" routerLink="/notifications" routerLinkActive="nav-link active ">
            <div class="row">
                <div class="col-md-1 icn">
                    <i class="material-icons">notifications_active</i>
                </div>
                <div class="col-md-9 name">
                    <p class="sidebar_links" routerLinkActive="nav-text active ">Notifications</p>
                </div>
            </div>
        </div>
        <div class="sidebar_button2" routerLink="/certification" routerLinkActive="nav-link active ">
            <div class="row">
                <div class="col-md-1 icn">
                    <i class="material-icons">receipt</i>
                </div>
                <div class="col-md-9 name">
                    <p class="sidebar_links" routerLinkActive="nav-text active ">Certification</p>
                </div>
            </div>
        </div>


        <div class="sidebar_button2" routerLink="/prepare_certification" routerLinkActive="nav-link active ">
            <div class="row">
                <div class="col-md-1 icn">
                    <i class="material-icons">touch_app</i>
                </div>
                <div class="col-md-9 name">
                    <p class="sidebar_links" routerLinkActive="nav-text active ">Prepare Certificates</p>
                </div>
            </div>
        </div>


        <div class="sidebar_button2" routerLinkActive="nav-link active ">
            <div class="row">
                <div class="col-md-1 icn">
                    <i class="material-icons">emoji_events</i>
                </div>
                <div class="col-md-9 name">
                    <p class="sidebar_links" routerLinkActive="nav-text active ">Grades</p>
                </div>
            </div>
        </div>


        <div class="sidebar_button2" routerLink="/attendance" routerLinkActive="nav-link active ">
            <div class="row">
                <div class="col-md-1 icn">
                    <i class="material-icons">emoji_people</i>
                </div>
                <div class="col-md-9 name">
                    <p class="sidebar_links" routerLinkActive="nav-text active ">Attendence</p>
                </div>
            </div>
        </div>


        <div class="sidebar_button2" routerLinkActive="nav-link active ">
            <div class="row">
                <div class="col-md-1 icn">
                    <i class="material-icons">sports_handball</i>
                </div>
                <div class="col-md-9 name">
                    <p class="sidebar_links" routerLinkActive="nav-text active ">Extra Curricular</p>
                </div>
            </div>
        </div>


        <div class="sidebar_button2" routerLinkActive="nav-link active ">
            <div class="row">
                <div class="col-md-1 icn">
                    <i class="material-icons">poll</i>
                </div>
                <div class="col-md-9 name">
                    <p class="sidebar_links" routerLinkActive="nav-text active ">Student Progress</p>
                </div>
            </div>
        </div>


        <div class="sidebar_button2" routerLinkActive="nav-link active ">
        </div>

        <div class="sidebar_button2" routerLinkActive="nav-link active ">
        </div>

        <div class="sidebar_button2" routerLink="/register" routerLinkActive="nav-link active ">
            <div class="row">
                <div class="col-md-1 icn">
                    <i class="material-icons">person_add</i>
                </div>
                <div class="col-md-9 name">
                    <p class="sidebar_links" routerLinkActive="nav-text active ">User Registration</p>
                </div>
            </div>
        </div>
    </div>
</div>