<div class="row">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <app-sidebar></app-sidebar>
            </div>
            <div class="container-fluid col-md-10" style="background-color:white">
                <div class="flashMessage">
                    <ng-flash-message></ng-flash-message>
                </div>
                <div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h2 style="color:  rgb(0, 140, 255); font-weight: bold; padding-top: 50px;">Manege
                                    Student Marks / Grades
                                </h2>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div style="padding-left: 50px; padding-right: 50px; padding-bottom: 50px">
                        <mat-card class="border text-center p-5 reg-frm">
                            <img src="../../../assets/logo/logo.png" style="width:40%; margin-bottom: 50px">
                            <div class="row">
                                <div class="col-md-8">
                                    <p class="top_txt">Class Room Name : </p>
                                    <input type="text" class="form-control border" placeholder="5A" name="className"
                                        [(ngModel)]="className">
                                    <p class="text-danger" style="text-align: left; font-size: 10px">Class-room name is
                                        required *</p>
                                </div>

                                <div class="col-md-4">
                                    <button mat-raised-button class="search_btn"
                                    (click)="searchStudents($event, className)"><img
                                    src="../../../../assets/icons/searchengin-brands.svg" style="width: 20px">
                                    Search</button>
                                </div>
                            </div>
                        </mat-card>
                    </div>
                    <!-- [{{#each userData}}] -->
                    
                    <div style="padding-left: 50px; padding-right: 50px; padding-bottom: 50px">
                            <mat-card class="border text-center p-5 reg-frm">
                                <div class="row" *ngIf="ctName">
                                    <p style="color: rgb(115, 115, 115)">Class Teacher Name : </p>
                                    <p> &nbsp;&nbsp;{{ctName.classTeacher}}</p>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        <p class="top_txt">Subject : </p>
                                        <mat-select #t class="browser-default custom-select mb-4 border" >
                                            <mat-option style="text-align: left" *ngFor="let subject of subjects"
                                            [value]="subject">{{ subject }}
                                        </mat-option>
                                    </mat-select>
                                    {{t.value | json}}
                                </div>
                                <div class="col-md-3">
                                    <p class="top_txt">Year : </p>
                                    <mat-select class="browser-default custom-select mb-4 border">
                                        <mat-option style="text-align: left" *ngFor="let year of years" [value]="year">
                                            {{ year }}
                                        </mat-option>
                                    </mat-select>
                                </div>
                                <div class="col-md-4">
                                    <p class="top_txt">Semester : </p>
                                    <mat-select class="browser-default custom-select mb-4 border">
                                        <mat-option style="text-align: left" *ngFor="let semester of semesters"
                                            [value]="semester">{{ semester }}
                                        </mat-option>
                                    </mat-select>
                                
                                </div>
                            </div>
                            <div class="container-fluid" style="padding-top: 30px">

                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th style="text-align: left">Student Id</th>
                                            <th style="text-align: left">Student Name</th>
                                            <th>Marks</th>
                                        </tr>
                                    </thead>
                                    <tbody >
                                        <tr *ngFor="let data of stData">
                                            <td class="tableInner">{{data.userid}}</td>
                                            <td class="tableInner">{{data.name}}</td>
                                            <td><input type="text" class="marks"></td>
                                        
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="row">
                                    <button mat-raised-button class="search_btn" style="width:30%; margin: auto"
                                        (click)="submitMarks()">Submit Marks</button>
                                </div>
                            </div>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>