
.search_btn{
    color: white;
    background-color: rgb(0, 140, 255);
    border-color:  rgb(0, 140, 255);
    box-shadow: 0px 3px 3px rgb(134, 132, 245);
    margin-top: 27px;
    width: 100%;
}
.search_btn:hover{
    background-color: rgb(0, 100, 182);
}

.top_txt{
    text-align: left;
    font-size: 10px;
    color:rgb(155, 155, 155);
}
.border{
    border-radius: 4px;
}

.marks{
    border: rgb(105, 105, 105) 1px solid;
    border-radius: 3px;
    width : 30%;
    text-align: center;
    color: rgb(105, 105, 105);
    height: 30px;
}
.tableInner{
    color: rgb(105, 105, 105);
    font-size: 15px;
    text-align: left;
    margin: auto;
}
