.body
{
  background-color:white;
  height: 100px;


}

#textbox{
  height: 200px;
}

.border{
  margin: auto;
  border-style: ridge;
  padding-top: 50px;
  padding-right: 80px;
  padding-bottom: 50px;
  padding-left: 80px;
  box-shadow: 0px 5px 5px rgb(134, 132, 245);
  width: 1000px;

}
.box_border{
  border-radius: 3px;

}

.reg-frm{
  box-shadow: 0px 5px 5px rgb(134, 132, 245);
  padding-top: 40px;
  width: 70%;
  text-align: center;
  margin: auto;
}

.reg-form{
  padding-top:40px;
  padding-bottom: 50px;
}

.reg_btn{
  color: aliceblue;
  background-color: rgb(0, 140, 255);
  border-color:  rgb(0, 140, 255);
  box-shadow: 0px 5px 5px rgb(134, 132, 245);
}
.pick_btn{
  width: 30%;
}
