<div class="row footer">
    <div class="col-md-4">
        <div class="row">
            <p style="color: aliceblue">hllo</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row" style="color: aliceblue">
            <img url="E:\UCSC\2nd Year\Group_Project\EHeaven_N\Angular-Frontend\src\assets\icons\facebook-square-brands.svg">
        </div>
    </div>
    <div class="col-md-4">

        <div class="row" style="color: aliceblue; padding-top: 50px">
            <div class="col-md-1 footer_icn">
                <i class="material-icons">mail_outline </i>
            </div>
            <div class="col-md-10 footer_txt">
                <h5><span style="font-weight: 500">St. Jhon's College</span></h5>
                <p style="margin-top: -10px">176A High Level Rd,</p>
                <p style="margin-top: -20px">Nugegoda </p>
            </div>
        </div>

        <div class="row" style="color: aliceblue">
            <div class="col-md-1 footer_icn">
                <i class="material-icons">call </i>
            </div>
            <div class="col-md-10 footer_txt">
                <h5><span style="font-weight: 500">0112 123 456</span></h5>
            </div>
        </div>

        <div class="row" style="color: aliceblue">
            <div class="col-md-1 footer_icn">
                <fa-icon [icon]="faAt" style="font-size: 20px"></fa-icon>
            </div>
            <div class="col-md-10 footer_txt">
                <h5><span style="font-weight: 500">stjohncollage@gmail.com</span></h5>
            </div>
        </div>

    </div>
</div>