
<div class="container-fluid" class="body"style="padding-top: 50px">

<div class="container">
    <h2 style="color:  rgb(0, 140, 255); font-weight: bold">Notification</h2>
    <hr>
    <div class="border">
        <form>
            <div class="form-group">
              <label>Subject :</label>
              <input type="text"class="form-control box_border" aria-describedby="textHelp">
            </div>
          </form>

          <form>
            <div class="form-group">
              <label>Message :</label>
              <textarea type="text" class="form-control box_border" placeholder="Write a message here" id="textbox"></textarea>
            </div>
          </form>

          <form>
              <div class="form-group">
                <label>Date :</label>
                  <input type="Date" class="form-control box_border" aria-describedby="DateHelp" placeholder="dd/mm/yyyy">
              </div>
            </form>
          <form>
            <div class="form-group">
              <label for="Attach-file">Attach file :</label><br>
              <input type="file" class="form-control-file" id="attach-file">
            </div>
          </form>

          <button type="button" class="btn btn-primary btn-lg btn-block">Send to approvel</button>

    </div>



</div>
</div>
