
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <app-sidebar></app-sidebar>
    </div>

    <div class="container-fluid col-md-9" style="background-color:white;height: 800px;">
        <div class="container">
          <h2 style="color:  rgb(0, 140, 255); font-weight: bold; padding-top: 20px;">Notification</h2>
          <hr>
        </div>
        <div style="padding-top:50px">
          <form class="border">
              <div class="form-group">
                  <label>Subject :</label>
                  <input type="text"class="form-control box_border" aria-describedby="textHelp">
                </div>

                <div class="form-group">
                    <label>Message :</label>
                    <textarea type="text" class="form-control box_border" placeholder="Write a message here" id="textbox"></textarea>
                  </div>

                <div class="form-group">
                      <label>Date :</label>
                        <input type="Date" class="form-control box_border" aria-describedby="DateHelp" placeholder="dd/mm/yyyy">
                   </div>
                <div class="form-group">
                      <label for="Attach-file">Attach file :</label><br>
                      <input type="file" class="form-control-file" id="attach-file">
                    </div>

                <button type="button" class="btn btn-primary btn-lg btn-block">Send to approvel</button>



          </form>

        </div>
    </div>
    <div class="col-md-1"  style="background-color: white"></div>
  </div>
</div>
