.body
{
  background-color:white;
  height: 100px;


}

#textbox{
  height: 200px;
}

.border{
  margin: auto;
  border-style: ridge;
  padding-top: 50px;
  padding-right: 80px;
  padding-bottom: 50px;
  padding-left: 80px;
  box-shadow: 0px 5px 5px rgb(134, 132, 245);
  width: 1000px;

}
.box_border{
  border-radius: 3px;

}


