.login-form{
    padding-top: 40px;
}

.login-frm{
    padding-top: 50px;
    width: 50%;
    text-align: center;
    margin: auto;
    box-shadow: 0px 5px 5px rgb(134, 132, 245);
}

.login_btn{
    width: 40%;
    margin-top: 20px;
    color: aliceblue;
    background-color: rgb(0, 140, 255);
    border-color:  rgb(0, 140, 255);
    box-shadow: 0px 5px 5px rgb(134, 132, 245);
}

.box_border{
    border-radius: 3px;
}

.err_msg{
    // margin-top: -15px;
    color: red;
    text-align: left;
    font-size: 10px;
}