<div class="row">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <app-sidebar></app-sidebar>
            </div>
            <div class="container-fluid col-md-10" style="background-color:#353b42">
                <div class="flashMessage">
                    <ng-flash-message></ng-flash-message>
                </div>
                <div class="container-fluid tct">
                    <div class="row">
                        <div class="col-md-3">
                            <label class="frist_div">
                                <div class="row">
                                    <div class="col-md-3">
                                        <i class="material-icons btn_icn">person_add</i>
                                    </div>
                                    <div class="col-md-9">
                                        <p class="btn_txt">User Registration</p>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="col-md-3">
                            <label class="frist_div">
                                <div class="row">
                                    <div class="col-md-3">
                                        <i class="material-icons btn_icn">person_add</i>
                                    </div>
                                    <div class="col-md-9">
                                        <p class="btn_txt">Add News Feeds</p>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="col-md-3">
                                <label class="frist_div">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <i class="material-icons btn_icn">person_add</i>
                                            </div>
                                            <div class="col-md-9">
                                                <p class="btn_txt">Prepare Certification</p>
                                            </div>
                                        </div>
                                    </label>
                        </div>
                        <div class="col-md-3">
                                <label class="frist_div">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <i class="material-icons btn_icn">person_add</i>
                                            </div>
                                            <div class="col-md-9">
                                                <p class="btn_txt">Payments Handling</p>
                                            </div>
                                        </div>
                                    </label>
                        </div>
                    </div>
                </div>
                <div class="container-fluid tct" style="height: 300px">

                </div>
            </div>
        </div>
    </div>
</div>