<div class="row">
    <div class="container-fluid">
        <div class="row">
            <!-- <div class="col-md-2">
                <app-sidebar></app-sidebar>
            </div> -->
            <div class="container-fluid" style="background-color:#353b42; padding-bottom: 10px">
               
                <div class="container-fluid tct">
                    <div class="row">
                        <div class="col-md-3" [routerLink]="['../register']" routerLinkActive="router-link-active" >
                            <label class="frist_div">
                                <div class="row">
                                    <div class="col-md-3">
                                        <i class="material-icons btn_icn">person_add</i>
                                    </div>
                                    <div class="col-md-9">
                                        <p class="btn_txt">User Registration</p>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="col-md-3" routerLink="../search_user">
                            <label class="frist_div">
                                <div class="row">
                                    <div class="col-md-3">
                                        <i class="material-icons btn_icn">person</i>
                                    </div>
                                    <div class="col-md-9">
                                        <p class="btn_txt">Search User</p>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="col-md-3" routerLink="../news_feeds">
                            <label class="frist_div">
                                <div class="row">
                                    <div class="col-md-3">
                                        <img src="../../../../assets/icons/newspaper-regular.svg"
                                            style="padding-left: 15px; width: 60px;padding-top: 5px">
                                    </div>
                                    <div class="col-md-9">
                                        <p class="btn_txt">Add News Feeds</p>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="col-md-3" routerLink="../add_notification">
                            <label class="frist_div">
                                <div class="row">
                                    <div class="col-md-3">
                                        <i class="material-icons btn_icn">notification_important</i>
                                    </div>
                                    <div class="col-md-9">
                                        <p class="btn_txt">Add Notifications</p>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="col-md-3" routerLink="../payments">
                            <label class="frist_div">
                                <div class="row">
                                    <div class="col-md-3">
                                        <img src="../../../../assets/icons/hand-holding-usd-solid.svg"
                                            style="padding-left: 15px; width: 60px;padding-top: 5px;">
                                    </div>
                                    <div class="col-md-9">
                                        <p class="btn_txt">Payments Handling</p>
                                    </div>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="container-fluid tct" style="height: 110px">
                    <div class="row">
                        <div class="col-md-3" routerLink="../add_cls_tt">
                            <label class="frist_div">
                                <div class="row">
                                    <div class="col-md-3">
                                        <img src="../../../../assets/icons/calendar-alt-regular.svg"
                                            style="margin-left: 22px; width: 35px;padding-top: 5px">
                                    </div>
                                    <div class="col-md-9">
                                        <p class="btn_txt">Classes Time Tables</p>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="col-md-3" routerLink="../add_techr_tt">
                            <label class="frist_div">
                                <div class="row">
                                    <div class="col-md-3">
                                        <img src="../../../../assets/icons/calendar-alt-regular.svg"
                                            style="margin-left: 22px; width: 35px;padding-top: 5px">
                                    </div>
                                    <div class="col-md-9">
                                        <p class="btn_txt">Teachers Time Tables</p>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="col-md-3" routerLink="../prepare_certification">
                            <label class="frist_div">
                                <div class="row">
                                    <div class="col-md-3">
                                        <i class="material-icons btn_icn">touch_app</i>
                                    </div>
                                    <div class="col-md-9">
                                        <p class="btn_txt">Prepare Certification <label class="notice_label"> 10
                                            </label></p>
                                    </div>
                                </div>
                            </label>

                        </div>
                        <div class="col-md-3" routerLink="">
                            <label class="frist_div">
                                <div class="row">
                                    <div class="col-md-3">
                                        <img src="../../../../assets/icons/calendar-check-solid.svg"
                                            style="padding-left: 15px; width: 50px;padding-top: 5px;">
                                    </div>
                                    <div class="col-md-9">
                                        <p class="btn_txt">Events Handling</p>
                                    </div>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="container-fluid tct">
                    <div class="row">
                        <div class="col-md-3" routerLink="../class_registration">
                            <label class="frist_div">
                                <div class="row">
                                    <div class="col-md-3">
                                        <i class="material-icons btn_icn">add</i>
                                    </div>
                                    <div class="col-md-9">
                                        <p class="btn_txt">Class Room Registration</p>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="col-md-3" routerLink="../subjects">
                            <label class="frist_div">
                                <div class="row">
                                    <div class="col-md-3">
                                        <img src="../../../../assets/icons/newspaper-regular.svg"
                                            style="padding-left: 15px; width: 60px;padding-top: 5px">
                                    </div>
                                    <div class="col-md-9">
                                        <p class="btn_txt">Academic Subjects</p>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="col-md-3" routerLink="../add_notification">
                            <label class="frist_div">
                                <div class="row">
                                    <div class="col-md-3">
                                        <i class="material-icons btn_icn">notification_important</i>
                                    </div>
                                    <div class="col-md-9">
                                        <p class="btn_txt"></p>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="col-md-3" routerLink="../payments">
                            <label class="frist_div">
                                <div class="row">
                                    <div class="col-md-3">
                                        <img src="../../../../assets/icons/hand-holding-usd-solid.svg"
                                            style="padding-left: 15px; width: 60px;padding-top: 5px;">
                                    </div>
                                    <div class="col-md-9">
                                        <p class="btn_txt"></p>
                                    </div>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="container-fluid tct" style="height: 310px">
                </div>
            </div>
        </div>
    </div>
</div>
