.frist_div{
    color: #6dd0dd;
    border: 2px solid #6dd0dd;
    padding-top: 15px;
    padding-bottom: 13px;
    border-radius: 7px;
    cursor: pointer;
    width: 100%;
}

.frist_div:hover{
    background-color: #515a64;
    transition: 0.5s;
}

.btn_icn{
    padding-left: 20px;
    font-size: 35px;
    padding-top: 6px;
}

.btn_txt{
    color: #6dd0dd;
    font-size: 17px;
    padding-top: 10px;
}
.tct{
    background-color: #282c31;
    margin-top: 10px;
    border-radius:5px;
    padding: 10px;
}

.notice_label{
    color: white;
    background-color: rgb(191, 4, 4);
    width: 20px;
    font-size: 10px;
    position: fixed;
    border-radius: 5px;
    text-align: center;
    margin-left: 3px;
}