<div class="row">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">
                    <app-sidebar></app-sidebar>
                </div>
                <div class="container-fluid col-md-10" style="background-color:white">
                    <div class="flashMessage">
                        <ng-flash-message></ng-flash-message>
                    </div>
                    <div>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <h2 style="color:  rgb(0, 140, 255); font-weight: bold; padding-top: 50px;">My Extra Curricular Activity Manager
                                    </h2>
                                </div>
                                
                            </div>
                            <hr>
                        </div>
                        <div style="padding-left: 35px; padding-right: 35px">
                            
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
    </div>