.reg-form{
    padding-top:40px;
    padding-bottom: 50px;
}

.reg-frm{
    box-shadow: 0px 5px 5px rgb(134, 132, 245);
    padding-top: 40px;
    width: 70%;
    text-align: center;
    margin: auto;
}

.reg_btn{
    color: aliceblue;
    background-color: rgb(0, 140, 255);
    border-color:  rgb(0, 140, 255);
    box-shadow: 0px 5px 5px rgb(134, 132, 245);
}

.box_border{
    border-radius: 3px;
}
.pick_btn{
    width: 30%;
}
                             
.flashMessage{
    padding-top: 5px;
    height: 20px;
    margin-bottom: -10px;
    width: 100%;
  }
