<div class="row">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">
                    <app-sidebar></app-sidebar>
                </div>
                <div class="container-fluid col-md-10" style="background-color:white">
                    <div class="flashMessage">
                        <ng-flash-message></ng-flash-message>
                    </div>
                    <div>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <h2 style="color:  rgb(0, 140, 255); font-weight: bold; padding-top: 50px;">
                                        Class-room Registration
                                    </h2>
                                </div>
                            </div>
                            <hr>
                        </div>
                        <div style="padding-left: 50px; padding-right: 50px; padding-bottom: 50px">
                            <mat-card class="border text-center p-5 reg-frm" [formGroup]="CertificationForm">
                                <img src="../../../assets/logo/logo.png" style="width:40%; margin-bottom: 50px">
                                <div class="row">
                                    <div class="col-md-8">
                                        <label class="top_txt">Class Room Name : </label>
                                        <input formControlName="certName" type="text" class="form-control box_border">
                                        <small class="text-danger">Class-room name is required *</small>
                                    </div>
    
                                    <!-- {{CertificationForm.value | json}} -->
                                    <div class="col-md-4">
                                        <button mat-raised-button class="add_btn"><img
                                                src="../../../../assets/icons/searchengin-brands.svg" style="width: 20px">
                                            Add</button>
                                    </div>
                                </div>
                            </mat-card>
                        </div>
                        <!-- [{{#each userData}}] -->
    
                        <div style="padding-left: 50px; padding-right: 50px; padding-bottom: 50px">
                            <mat-card class="border text-center p-5 reg-frm" [formGroup]="CertificationForm">
                                
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Hero Name</th>
                                            <th>Country</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </mat-card>
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
    </div>