<div class="row">
  <div class="container-fluid">
    <div class="row">
            <!-- <div class="col-md-2">
                <app-sidebar></app-sidebar>
              </div> -->
              <div class="container-fluid " style="background-color:white">

                <div>
                    <div class="container" style="padding-top: 50px">

                      <h2 class="topic">Student - Certification</h2>
                      <!-- <hr> -->

                    </div>
                    <div style="padding-left: 50px; padding-right: 50px; padding-bottom: 50px">
                      <mat-tab-group>
                        <mat-tab label="REQUEST CERTIFICATES">
                          <br>
                          <mat-card class="border text-center p-5 reg-frm" [formGroup]="CertificationForm">
                            <img src="../../../assets/logo/logo.png" style="width:50%; margin-bottom: 50px">

                            <div class="form-row mb-4">
                              <label>Name to be appeared in the Certificate :</label>
                              <input
                                [class.is-invalid]="CertificationForm.get('certName').invalid && CertificationForm.get('certName').touched"
                                formControlName="certName" type="text" class="form-control box_border">
                              <small [class.d-none]="CertificationForm.get('certName').valid || CertificationForm.get('certName').untouched"
                                class="text-danger">Name is required *</small>
                            </div>

                            <div class="form-row mb-4">
                              <label>Certification Required :</label>
                              <mat-select #t class="browser-default custom-select mb-4 box_border" formControlName="certType"
                                (selectionChange)="togglefunction(t.value)">
                                <!-- <mat-option value="None" selected></mat-option> -->
                                <mat-option style="text-align: left" *ngFor="let cert of certificates" [value]="cert">{{ cert }}
                                </mat-option>
                              </mat-select>
                              <!-- {{t.value}} -->
                            </div>

                            <div *ngIf="flag" formGroupName='exam'>
                              <div class="form-row mb-4">
                                <label>Examination :</label>
                                <mat-select class="browser-default custom-select mb-4 box_border" formControlName="examName">
                                  <!-- <mat-option value="None" selected></mat-option> -->
                                  <mat-option style="text-align: left" *ngFor="let exams of exams" [value]="exams">{{ exams }}
                                  </mat-option>
                                </mat-select>
                              </div>

                              <div class="form-row mb-4">
                                <label>Select Year of Examination :</label>
                                <mat-select class="browser-default custom-select mb-4 box_border" formControlName="examYear">
                                  <!-- <mat-option value="None" selected></mat-option> -->
                                  <mat-option style="text-align: left" *ngFor="let yoe of yearofExam" [value]="yoe">{{ yoe }}
                                  </mat-option>
                                </mat-select>
                              </div>

                              <div class="form-row mb-4">
                                <label>Examination Index Number :</label>
                                <input formControlName="examIndex" type="text" class="form-control box_border">
                              </div>
                            </div>

                            <!-- {{CertificationForm.value | json}} -->

                            <button mat-raised-button type="submit" class="btn btn-info my-4 btn-block reg_btn box_border"
                              (click)="submitToApproval()">Submit for Approval</button>
                          </mat-card>
                        </mat-tab>

                        <!-- /*****************************************************************************************************************************/ -->

                        <mat-tab label="PENDING CERTIFICATES">
                          <mat-card>
                            <!-- {{pendingCert | json}} -->
                            <mat-list>
                              <mat-list-item *ngFor="let cert of pendingCert">
                                <mat-icon mat-list-icon>note</mat-icon>
                                <h3 mat-line>{{cert.certType}}</h3>
                                <h3 mat-line>Requested On :</h3>
                                <p mat-line style="color: rgb(117, 117, 117)"> {{cert.reqDate | date:'yyyy-MM-dd HH:mm:ss'}} </p>
                                <h2 mat-line style="color: rgb(0, 20, 36)">Admin Approval : {{cert.certState}}</h2>
                                <h3 mat-line style="color: rgb(0, 20, 36)">Principal Approval : {{cert.prinapprovState}} </h3>
                              </mat-list-item>
                            </mat-list>
                          </mat-card>
                        </mat-tab>

                        <!-- /*****************************************************************************************************************************/ -->
                        <mat-tab label="APPROVED CERTIFICATES">
                          <mat-card>
                            HEllo
                            <!-- {{issuedCert | json}} -->
                            <!-- <mat-list>
                              <mat-list-item *ngFor="let cert of issuedCert">
                                <mat-icon mat-list-icon>note</mat-icon>
                                <h3 mat-line>{{cert.certType}}</h3>
                                <p mat-line style="color: rgb(117, 117, 117)"> {{cert.reqDate | date:'yyyy-MM-dd HH:mm:ss'}} </p>
                              </mat-list-item>
                            </mat-list> -->

                             <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
                       <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
                         <th mat-header-cell *matHeaderCellDef> {{column}} </th>
                         <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
                       </ng-container>
                       <ng-container matColumnDef="expandedDetail">
                         <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
                           <div class="example-element-detail"
                                [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                             <div class="example-element-diagram">
                               <div class="example-element-position"> {{element.position}} </div>
                               <div class="example-element-symbol"> {{element.symbol}} </div>
                               <div class="example-element-name"> {{element.name}} </div>
                               <div class="example-element-weight"> {{element.weight}} </div>
                             </div>
                             <div class="example-element-description">
                               {{element.description}}
                               <span class="example-element-description-attribution"> -- Wikipedia </span>
                             </div>
                           </div>
                         </td>
                       </ng-container>

                       <!-- <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                       <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
                           class="example-element-row"
                           [class.example-expanded-row]="expandedElement === element"
                           (click)="expandedElement = expandedElement === element ? null : element">
                       </tr>
                       <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr> -->
                     </table>

                          </mat-card>
                        </mat-tab>
                      </mat-tab-group>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
