

<div class="row">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-2">
              <!-- <app-sidebar></app-sidebar> -->
          </div>
          <div class="container-fluid col-md-10" style="background-color:white">
              <div class="flashMessage">
                  <ng-flash-message></ng-flash-message>
              </div>
              <div>
                  <div class="container">
                      <div class="row">
                          <div class="col-md-10">
                              <h2 style="color:  rgb(0, 140, 255); font-weight: bold; padding-top: 50px;">NewsView
                              </h2>
                          </div>
                          <div class="col-md-2" style="padding-top: 25px">
                              <button class="btn btn-info my-4 btn-block reg_btn box_border"
                                  routerLink="/news"><b>+</b> Add
                                  New</button>
                          </div>
                      </div>
                      <hr>
                  </div>
                  <div style="padding-left: 35px; padding-right: 35px">
                      <mat-card class="news-card" *ngFor="let news of newses">
                          <p style="display: none" name="notice_id">{{news._id}}</p>
                          <mat-card-header>
                              <div mat-card-avatar class="example-header-image"></div>
                              <mat-card-title>{{news.topic}}</mat-card-title>
                              <mat-card-subtitle style="margin-top:-15px">{{news.date | date:'yyyy-MM-dd HH:mm:ss'}}
                              </mat-card-subtitle>
                          </mat-card-header>
                          <mat-card-content>
                              <p>{{news.newsSumery}}</p>
                              <p>{{news.news}}</p>

                          </mat-card-content>

                          <div class="row">
                            <!-- <div class="col-md-7">
                                <mat-card-subtitle *ngIf="news.filepath" style="padding-right: 20px"><a
                                        href="http://localhost:3000/notification/notAttachment/{{notice.filepath}}"><img
                                            src="../../../../assets/icons/paperclip-solid.svg"
                                            class="attachment_icn">&nbsp;&nbsp;Attachment</a>
                                </mat-card-subtitle> -->
                            <!-- </div> -->
                            <div class="col-md-7">
                                <mat-card-subtitle *ngIf="usertype == 'Administrator'" style="padding-right: 20px">
                                    state : {{news.state}}
                                </mat-card-subtitle>
                            </div>
                        </div>
                          <mat-card-actions style="text-align: right">

                             <button mat-raised-button class="edit_btn"
                                  (click)="edit($event, news._id)">edit</button>
                             <button mat-raised-button class="delete_btn"
                                  (click)="delete($event, news._id)">delete</button>


                          </mat-card-actions>
                      </mat-card>
                  </div>

              </div>
          </div>
      </div>
  </div>
</div>
