<div class="row">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <app-sidebar></app-sidebar>
            </div>
            <div class="container-fluid col-md-10" style="background-color:white">
                <div class="flashMessage">
                    <ng-flash-message></ng-flash-message>
                </div>
                <div>
                    <div class="container">
                        <h2 style="color:  rgb(0, 140, 255); font-weight: bold; padding-top: 60px">Academics</h2>
                        <hr>
                    </div>
                    <div>
                        <div style="padding: 100px; height: 100%; box-sizing: border-box;">
                            <input id="photo" type="file" accept="image/*" (change)="selectImage($event)"/>
                            <button type="button" class="btn btn-success btn-s" (click)="upload()">
                                Upload with method 2
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>