<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <app-sidebar></app-sidebar>
        </div>

        <div class="container-fluid col-md-10 ac-form" style="background-color: white">
            <div class="container">
                <h2 style="color:  rgb(0, 140, 255); font-weight: bold">Academics</h2>
                <hr>
            </div>
            <div>
                <div style="padding: 100px; height: 100%; box-sizing: border-box;">
                   
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="col-md-1"  style="background-color: white"></div> -->
</div>