
.contentDiv {
  padding-top: 20px;
  padding-left: 50px;
}

.sub_contentDiv {
  padding-left: 20px;
}

.icons {
  width: 15px;
  margin-top: -10px;
}

.content_txt {
  color: rgb(74, 74, 74);
  font-size: 15px;
}
.content_txt:hover {
  color: rgb(0, 104, 196);
}
