<div class="row" *ngIf="flag" style="display: block;">
    <div class="container-fluid back_gr">
        <app-navbar2></app-navbar2>
        
        <div class="row">
            <div class="container-fluid col-md-12 col-xs-12">
                <div class="text-center container" style="margin-top: 100px;margin-bottom: 130px;">
                    <div class="row">
                        <div class="col-md-6" style="margin-top: 20px;">
                            <div class="row menu_div" (click)="adminDashboard()">
                                <div class="col-md-2 menu_icon_back" style="background-color: #004d40;">
                                    <i class="material-icons menu_icon">person</i>
                                </div>
                                <div class="col-md-10 menu_text_back">
                                    <p class="menu_text">Admin Portal</p>
                                </div>
                            </div>

                            <div class="row menu_div" (click)="userAcademics()" style="width: 70%;float: left;">
                                <div class="col-md-2 menu_icon_back" style="background-color: #d50000;">
                                    <i class="material-icons menu_icon">school</i>
                                </div>
                                <div class="col-md-10 menu_text_back">
                                    <p class="menu_text">Academics</p>
                                </div>
                            </div>
                            <div class="row menu_div" (click)="userCertification()" style="width: 70%;float: left;">
                                <div class="col-md-2 menu_icon_back" style="background-color: #880e4f;">
                                    <i class="material-icons menu_icon">receipt</i>
                                </div>
                                <div class="col-md-10 menu_text_back">
                                    <p class="menu_text">Certification</p>
                                </div>
                            </div>
                            <div class="row menu_div" (click)="userAttendence()" style="width: 70%;float: left;">
                                <div class="col-md-2 menu_icon_back" style="background-color: #1a237e;">
                                    <i class="material-icons menu_icon">emoji_people</i>
                                </div>
                                <div class="col-md-10 menu_text_back">
                                    <p class="menu_text">Attendence</p>
                                </div>
                            </div>
                            <div class="row menu_div" (click)="userStudentProg()" style="width: 70%;float: left;">
                                <div class="col-md-2 menu_icon_back" style="background-color: #1b5e35;">
                                    <i class="material-icons menu_icon">poll</i>
                                </div>
                                <div class="col-md-10 menu_text_back">
                                    <p class="menu_text">My Progress</p>
                                </div>
                            </div>
                            <div class="row menu_div" (click)="userExtraCur()" style="width: 70%;float: left;">
                                <div class="col-md-2 menu_icon_back" style="background-color: #f57f17;">
                                    <i class="material-icons menu_icon">sports_handball</i>
                                </div>
                                <div class="col-md-10 menu_text_back">
                                    <p class="menu_text">Extra Curricular</p>
                                </div>
                            </div>
                            <div class="row menu_div" (click)="userNotification()" style="width: 70%;float: left;">
                                <div class="col-md-2 menu_icon_back" style="background-color: #5d4037;">
                                    <i class="material-icons menu_icon">notifications_active</i>
                                </div>
                                <div class="col-md-10 menu_text_back">
                                    <p class="menu_text">Notifications</p>
                                </div>
                            </div>
                            <div class="row menu_div" (click)="userStudentMarks()" style="width: 70%;float: left;">
                                <div class="col-md-2 menu_icon_back" style="background-color: #263238;">
                                    <i class="material-icons menu_icon">score</i>
                                </div>
                                <div class="col-md-10 menu_text_back">
                                    <p class="menu_text">Manage Marks</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">

                            <p class="ehaeaven">EHeaven</p>
                            <p class="subEheaven">Student Management &</p>
                            <p class="subEheaven">Learning Platform</p>

                            <p class="quotesTop">“The difference between school and life? In school, you're taught a lesson 
                                and then given a test. In life, you're given a test that teaches you a lesson.”</p>
                            <p class="quotesSub">- Tom Bodett</p>

                        </div>
                    </div>

                    <!-- <div class="row" style="margin: auto; padding-top: 50px;">
                        <div class="col-md-3">
                            <div class="row menu_div" routerLink="/admin_dashboard" (click)="adminDashboard()">
                                <div class="col-md-3 div_icn" style="background-color: #004d40;">
                                    <i class="material-icons icn">person</i>
                                </div>
                                <div class="col-md-9 div_text">
                                    <p class="txt">Admin Portal</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 ">
                            <div class="row menu_div" routerLink="/academic_subject" (click)="userAcademics()">
                                <div class="col-md-3 div_icn" style="background-color: #d50000;">
                                    <i class="material-icons icn">school</i>
                                </div>
                                <div class="col-md-9 div_text">
                                    <p class="txt">Academics</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3  col-xs-3">
                            <div class="row menu_div" routerLink="/certification" (click)="userCertification()">
                                <div class="col-md-3 div_icn" style="background-color: #880e4f;">
                                    <i class="material-icons icn">receipt</i>
                                </div>
                                <div class="col-md-9 div_text">
                                    <p class="txt">Certification</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3  col-xs-3">
                            <div class="row menu_div" routerLink="/attendance" (click)="userAttendence()">
                                <div class="col-md-3 div_icn" style="background-color: #1a237e;">
                                    <i class="material-icons icn">emoji_people</i>
                                </div>
                                <div class="col-md-9 div_text">
                                    <p class="txt">Attendence</p>
                                </div>
                            </div>
                        </div>
                  
                        <div class="col-md-3">
                            <div class="row menu_div" routerLink="/student_progress" (click)="userStudentProg()">
                                <div class="col-md-3 div_icn" style="background-color: #1b5e35;">
                                    <i class="material-icons icn">poll</i>
                                </div>
                                <div class="col-md-9 div_text">
                                    <p class="txt">My Progress</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="row menu_div" routerLink="/extra_curricular" (click)="userExtraCur()">
                                <div class="col-md-3 div_icn" style="background-color: #f57f17;">
                                    <i class="material-icons icn">sports_handball</i>
                                </div>
                                <div class="col-md-9 div_text">
                                    <p class="txt">Extra Curricular</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="row menu_div" routerLink="/notifications" (click)="userNotification()">
                                <div class="col-md-3 div_icn" style="background-color: #5d4037;">
                                    <i class="material-icons icn">notifications_active</i>
                                </div>
                                <div class="col-md-9 div_text">
                                    <p class="txt">Notifications</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="row menu_div" routerLink="/manage_marks" (click)="userStudentMarks()">
                                <div class="col-md-3 div_icn" style="background-color: #263238;">
                                    <i class="material-icons icn">score</i>
                                </div>
                                <div class="col-md-9 div_text">
                                    <p class="txt">Manage Marks</p>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>

            </div>
        </div>
    </div>
</div>