@font-face {
  font-family: side_font;
  src: url(../../../../assets/Fonts/Roboto-Regular.ttf);
}

.back_gr {
  background-color: rgb(255, 255, 255);
  min-height: 600px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.sidebar_links {
  width: 100%;
  color: rgb(91, 91, 91);
  margin-left: 50px;
  padding-top: 15px;
  font-family: side_font;
  font-weight: 300;
  text-align: left;
  font-size: 17px;
}

.sidebar_button {
  height: 85%;
  margin-bottom: 0px;
}

.sidebar_button:hover {
  cursor: pointer;
  transition: 0.7s;
  .icons {
    color: white;
  }
  .sidebar_links {
    color: white;
  }
}

.icons {
  font-size: 50px;
}

.nav-link {
  transition: 0.3s;
  color: white;
  background-color: #17191d;
}
.nav-text {
  color: #6dd0dd;
  font-weight: 500;
}
/********************************************/
.menu_div {
  width: 100%;
  height: 70px;
  border-radius: 5px;
  box-shadow: 0px 0px 8px rgb(138, 138, 138);
  margin-bottom: 30px;
}
.menu_div:hover{
  border-right: 5px orangered solid;
  border-left: 3px orangered solid;
  cursor: pointer;
  transition: 0.1s;
}

.div_icn {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  margin-left: -0.5px;
}

.icn {
  margin-top: 15px;
  margin-left: -8px;
  color: white;
  font-size: 40px;
  width: 100%;
}
.div_text {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: white;
}

.txt {
  margin-top: 22px;
  text-align: left;
  font-size: 1.1em;
  font-weight: 500px;
  color: rgb(70, 70, 70);
}
