<div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <app-sidebar></app-sidebar>
            </div>
    
            <div class="container-fluid col-md-9 reg-form"  style="background-color: white">
                <div class="container">
                    <h2 style="color:  rgb(0, 140, 255); font-weight: bold">My Profile</h2>
                    <hr>
                </div>
                
                <div class="profile-pic">
                    <mat-card ><img src="../../../assets/backgrounds/sample-profile.png" class="profile_matcard"></mat-card>
                </div>
                <div class="profile_data">
                    <mat-card>
                        <div>
                            <label class="profile_attributes">Full Name  </label>
                            <p class="profile_attributes_data" >Sachin Muthumala</p>
                        </div>
                        <div>
                            <label class="profile_attributes">Address </label>
                            <p class="profile_attributes_data" >Sachin Muthumala</p>

                        </div>
                        <div>
                            <label class="profile_attributes">Index No  </label>
                            <p class="profile_attributes_data" >Sachin Muthumala</p>

                        </div>
                        <div>
                            <label class="profile_attributes">E-mail  </label>
                            <p class="profile_attributes_data" >Sachin Muthumala</p>

                        </div>
                        <div>
                            <label class="profile_attributes">Mobile No  </label>
                            <p class="profile_attributes_data" >Sachin Muthumala</p>

                        </div>
                        <div>
                            <label class="profile_attributes">NIC No </label>
                            <p class="profile_attributes_data" >Sachin Muthumala</p>

                        </div>
                        <div>
                            <label class="profile_attributes">Full Name  </label>
                            <p class="profile_attributes_data" >Sachin Muthumala</p>

                        </div>
                    </mat-card>
                </div>
            </div>
            <div class="col-md-1"  style="background-color: white"></div>
        </div>
    
    </div>
    