<div>
    <div class="side-bar">
        <div class="sidebar_button">
            <p class="sidebar_links">Item 1</p>
          
        </div>
        <div class="sidebar_button2">
            <p class="sidebar_links">Item 2</p>
         
        </div>
        <div class="sidebar_button2">
            <p class="sidebar_links">Item 3</p>
            <!-- <hr> -->
        </div>
        <div class="sidebar_button2">
            <p class="sidebar_links">Item 4</p>
            
        </div>
        <div class="sidebar_button2">
            <p class="sidebar_links">Item 5</p>
            
        </div>
        <div class="sidebar_button2">
            <p class="sidebar_links">Item 6</p>
        </div>
    </div>
</div>