.select_subject{
    padding-top:40px;
    margin: auto;
    text-align: center;
    font-size: 30px;
}

.img_logo{
    padding-top: 30px;
    width: 30%;
    margin: auto;
}

.src_box{
    // width: 80%;
    margin: auto;
    padding-top: 23px;
}
.src_btn{
    box-shadow: 0px 5px 5px rgb(134, 132, 245);
    background-color: rgb(0, 140, 255);
}