.nav-itm {
  padding-right: 0px;
  font-size: 0.9em;
}
.nav_item:hover{
  border-bottom: solid 3px #2bb5f5;
  transition: 0.1s;
}

@font-face {
  font-family: side_font;
  src: url(../../../../assets/Fonts/Roboto-Regular.ttf);
}

.navbar_shadow {
  box-shadow: 0px 5px 5px grey;
}

.logo {
  width: 15%;
}

.nav_bar {
  margin-left: 15px;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.btn {
  color: #2bb5f5;
  height: 62px;
  font-family: side_font;
}

