<div class="row">
    <mat-toolbar style="background-color: #f5f5f5" class="navbar_shadow">
        <mat-toolbar-row>
          <span><a class="navbar-brand">
              <img src="../../../assets/logo/logo.png" class="logo">
            </a>
          </span>
          <span class="example-spacer"></span>

          <span class="nav-itm">

            <button mat-button routerLink="/" class="navbtn ">
            <mat-icon aria-hidden="false" >home</mat-icon>Home</button>
          </span>

          <span class="nav-itm">
            <button mat-button routerLink="/login" class="navbtn "><mat-icon aria-hidden="false" ></mat-icon>
              Login</button>
          </span>

          <span class="nav-itm">
            <button mat-button (click)="logoutUser()" class="navbtn ">Logout</button>
          </span>

          <span class="nav-itm">
            <button mat-button routerLink="/profile" (click)="userProfile()" class="navbtn ">Profile</button>
          </span>

        </mat-toolbar-row>
      </mat-toolbar>
</div>
