<div class="row">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">
                    <app-sidebar></app-sidebar>
                </div>
                <div class="container-fluid col-md-10" style="background-color:white">
                    <div class="flashMessage">
                        <ng-flash-message></ng-flash-message>
                    </div>
                    <div class="container" style="padding-top: 50px">
                                    
                        <h2 style="color:  rgb(0, 140, 255); font-weight: bold">{{classname}} Class Attendance</h2>
                        <hr>
                        <div>
                            <img src="../../../assets/logo/logo.png" style="width:60%; margin-bottom: 50px ;padding-left: 200px">
                        </div>
                    </div>
                    <mat-tab-group>
                        
                        <mat-tab label="Student Name List">
                            <mat-grid-list cols="3" *ngIf="mainflag" rowHeight="100px">
                                <mat-grid-tile he>
                                    <h4>Registration ID</h4>
                                </mat-grid-tile>
                                <mat-grid-tile he>
                                       <h4> Name</h4>
                                </mat-grid-tile>
                                    
                                <mat-grid-tile>
                                   <h4> Attendance</h4>
                                </mat-grid-tile>
                            </mat-grid-list>
                                
                            <div>
                                <form #userForm="ngForm" class="text-center border p-5 reg-frm " (ngSubmit)="onSubmit()" novalidate *ngIf="mainflag">
                                     
                                    <mat-grid-list cols="3" *ngFor="let student of students;index as i" rowHeight="100px">
                                            <mat-grid-tile>{{student.userid}}</mat-grid-tile>
                                        <mat-grid-tile>{{student.name}}</mat-grid-tile>
                                        <mat-grid-tile>
                                                <mat-slide-toggle id="{{student.name}}" (click)="storeValue(i)" color="primary" name="name" ngModel></mat-slide-toggle>
                                            
                                                {{toggle[i]}}

                                        </mat-grid-tile>
                                    </mat-grid-list>
                                        <mat-gride-list cols="3">
                                            
                                            <mat-list-tile><button type="submit" class="btn btn-info my-4 btn-block reg_btn box_border">Submit</button></mat-list-tile>
                        
                                        </mat-gride-list>
                                    <!-- <div class="row">
                                        <div class="col-md-8" style="padding-left: 200px">
                                            <button type="submit" class="btn btn-info my-4 btn-block reg_btn box_border">Submit</button>
                                
                                        </div>
                                    </div> -->
                                
                                </form>
                            </div>
                            <div>
                                    <mat-list role="list">
                                            <mat-list-item role="listitem"> Date:{{ today | date }} </mat-list-item>
                                            <mat-list-item role="listitem">Number of Students:{{numberOfStudent}} </mat-list-item>
                                            <mat-list-item role="listitem"> Number of Present students:{{presentStu}}</mat-list-item>
                                    </mat-list>
                            
                            </div>
                            </mat-tab>
                            <mat-tab label="Attendence History">
                                <mat-tab-group  mat-align-tabs="center">
                                    <mat-tab label="Special Date">

                                        <div style="padding-top: 100px ; padding-bottom: 100px" *ngIf="historyflagD">
                                                <form class="example-form " (ngSubmit)="searchDate(dateid.value)">
                                                  <mat-grid-list cols="1" rowHeight="100px">
                                                    <mat-grid-tile>
                                                        <mat-form-field>
                                                                <input matInput [matDatepicker]="picker" placeholder="Choose a date"  appearance="outline" #dateid>
                                                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                                <mat-datepicker #picker></mat-datepicker>
                                                        
                                                        </mat-form-field>
                                                        </mat-grid-tile>
                                                        <mat-grid-tile>
                                                                <button mat-raised-button color="primary"><mat-icon>search</mat-icon>Search</button>
                                                      </mat-grid-tile>
                                                    </mat-grid-list>
                                                              
                                                      
                                                        
                                                </form>
                                                      
                                            <!-- <form class="text-center border p-5 reg-frm form-inline" (ngSubmit)="searchDate(dateid.value)">
                                                <div class ="row">
                                                    <h4>
                                                        Enter Date
                                                    </h4>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <input class="form-control form-control-sm mr-3 w-75" #dateid type="date" placeholder="Search"
                                                        aria-label="Search">
                                                        <mat-icon>search</mat-icon>
                                                    </div>
                                                    <hr>
                                                    <span *ngIf="spanflageD" class="dangourous">May be entered date was a holiday.Please Enter valid date.</span>
                                                    <hr>
                                                </div>     
                                                <button class="btn btn-primary">search</button>
                                                        
        
                                            </form> -->
                                        </div>
                                        <div  *ngIf="!historyflagD">
                                            <h2>{{searchDateResult[0].date}} Day  {{classname}} Attendence List</h2>
                                            <div class="row">
                                               <div class="col-md-6">
                                                    <div style="text-align: center">
                                                        <h3>UserID</h3>                                        
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <h3>
                                                        Attendence
                                                    </h3>
                                                </div>
                                            </div>
                                            <div class="row" *ngFor="let result of searchDateResult">
                                                <div class="col-md-6">
                                                    <div style="text-align: center">
                                                        <h3>{{result.userid}}</h3>                                        
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <h3>
                                                        {{result.attend}}
                                                    </h3>
                                                </div>
                                                    <!-- {{result.date}}; -->
                                            </div>
                                            <div>
                                                    <label>
                                                        click here to search another Date
                                                    </label>
                                                    <hr>
                                                    <button class="submit" (click)="historyflagD=true;">Click here</button>
                                            </div>
                                        </div>
                                    </mat-tab>
                                    <mat-tab label="Special Student">
                                        <div style="padding-top: 100px ; padding-bottom: 100px" *ngIf="historyflagS">
                                            <form class="text-center border p-5 reg-frm" (ngSubmit)="searchStu(stuid.value)">
                                                <h4>
                                                    Enter student Rejistration number
                                                </h4>
                                                
                                                <input   type="text" #stuid name="name">
                                                <hr>
                                                
                                                <button class="btn btn-primary">search</button>
                                                <!-- <div class="active-purple-3 active-purple-4 mb-4">
                                                        <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                                                      </div> -->

                                            </form>
                                            
                                        </div>
                                        <div *ngIf="!historyflagS" style="padding-top: 100px; padding-bottom: 100px">
                                                <div style="text-align:center;"><h2 >{{searchStuResult[0].userid}} Student Attendence List</h2></div>
                                            <mat-grid-list cols="2" rowHeight="100px">
                                                <mat-grid-tile>
                                                        <h3>Date</h3>
                                                </mat-grid-tile>
                                                <mat-grid-tile>
                                                        <h3>Attendence</h3>
                                                </mat-grid-tile>
                                            </mat-grid-list>
                                            <!-- <div class="row">
                                               <div class="col-md-6">
                                                    <div style="text-align: center">
                                                        <h3>Date</h3>                                        
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div style="text-align: center">
                                                    <h3>
                                                        Attendence
                                                    </h3>
                                                    </div>
                                                </div>
                                            </div> -->
                                            <mat-grid-list cols="2" rowHeight="100px" *ngFor="let result of searchStuResult">
                                                    <mat-grid-tile>
                                                        <h3>{{result.date}}</h3>
                                                    </mat-grid-tile>
                                                    <mat-grid-tile>
                                                            <h3>{{result.attend}}</h3>
                                                    </mat-grid-tile>
                                            </mat-grid-list>
                                            <!-- <div class="row" *ngFor="let result of searchStuResult">
                                                <div class="col-md-6">
                                                    <div style="text-align: center">
                                                        <h3>{{result.date}}</h3>                                        
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div style="text-align: center">
                                                    <h3>
                                                        {{result.attend}}
                                                    </h3>
                                                    </div>
                                                </div>
                                                    {{result.date}};
                                            </div> -->
                                            <div>
                                                <label style="text-align: center;">
                                                    click here to search another student
                                                </label>
                                                <hr>
                                                <button class="submit"  (click)="historyflagS=true">Click here</button>
                                            </div>
                                        </div>
                                    </mat-tab>
                                </mat-tab-group>
                            </mat-tab>
                    </mat-tab-group>
            </div>
        </div>
    </div>
</div>