
.search_btn{
    color: white;
    background-color: rgb(0, 140, 255);
    border-color:  rgb(0, 140, 255);
    box-shadow: 0px 5px 5px rgb(134, 132, 245);
    margin-top: 30px;
}
.search_btn:hover{
    background-color: rgb(0, 89, 162);
    
}

.top_txt{
    font-size: 10px;
    color:rgb(155, 155, 155);
}
.border{
    border-radius: 4px;
}