<div class="row">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <app-sidebar></app-sidebar>
            </div>
            <div class="container-fluid col-md-10" style="background-color:white">
                <div class="flashMessage">
                    <ng-flash-message></ng-flash-message>
                </div>
                <div>

                  <div class="container">
                    <h2 style="color:  rgb(0, 140, 255); font-weight: bold; padding-top: 50px;">Admin - Certification</h2>
                    <hr>
                  </div>
                  <div style="padding-left: 50px; padding-right: 50px">
                    <mat-tab-group>
                      <mat-tab label="REQUESTED CERTIFICATES">list certification requests from students ( via certification
                        component) here
                      </mat-tab>
                      <mat-tab label="PREPARE CERTIFICATES">
                        <mat-card >
                          <mat-accordion>

              <!-- ************************************************** Student Status Certificate Form ********************************************* -->
                            <mat-expansion-panel [formGroup]="StudentStatusForm">
                              <mat-expansion-panel-header>Student Status Verification Certificate</mat-expansion-panel-header>
                              <mat-action-row>
                                <div class="container">
                                  <mat-form-field>
                                    <input matInput formControlName="studentName" placeholder="Name of the Student">
                                  </mat-form-field>
                                  <mat-form-field>
                                    <input matInput formControlName="admissionNum" placeholder="Admission Number">
                                  </mat-form-field>
                                  <mat-form-field>
                                    <input matInput formControlName="dateofAdmission" [matDatepicker]="picker" placeholder="Date of Admission">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                  </mat-form-field>
                                  <mat-form-field>
                                    <textarea matInput formControlName="description" placeholder="Description"></textarea>
                                  </mat-form-field>

                                  <!-- {{StudentStatusForm.value | json}} -->

                            <button mat-raised-button type="submit" class="btn btn-info my-4 btn-block reg_btn box_border" (click)="submitStudentstatus()">Submit</button>
                                </div>
                              </mat-action-row>

                            </mat-expansion-panel>

              <!-- ************************************************** Character Certificate Form ********************************************* -->
                            <mat-expansion-panel [formGroup]="CharacterCertForm">
                              <mat-expansion-panel-header>Character Certificate</mat-expansion-panel-header>
                              <mat-action-row>
                                  <div class="container">
                                      <mat-form-field>
                                        <input matInput formControlName="studentName" placeholder="Name of the Student">
                                      </mat-form-field>
                                      <mat-form-field>
                                        <input matInput formControlName="admissionNum" placeholder="Admission Number">
                                      </mat-form-field>
                                      <mat-form-field>
                                          <input matInput formControlName="lastClass" placeholder="Last Class of Study">
                                      </mat-form-field>
                                      <mat-form-field>
                                          <input matInput formControlName="lastExam" placeholder="Last Exam Sat">
                                      </mat-form-field>
                                      <mat-form-field>
                                          <input matInput formControlName="examYear" placeholder="Examination Year">
                                      </mat-form-field>
                                      <mat-form-field>
                                         <input matInput type="date" formControlName="dateofAdmission" placeholder="Date of Admission">
                                      </mat-form-field>
                                      <mat-form-field>
                                        <input matInput type="date" formControlName="dateofLeaving" placeholder="Date of Leaving">
                                      </mat-form-field>
                                      <mat-form-field>
                                        <mat-label>Academic Performance</mat-label>
                                        <mat-select formControlName="academicStatus">
                                          <mat-option style="text-align: left" *ngFor="let acaPer of academicPerformance" [value]="acaPer">
                                            {{ acaPer }}
                                          </mat-option>
                                        </mat-select>
                                      </mat-form-field>
                                      <mat-form-field>
                                        <mat-label>Moral Conduct</mat-label>
                                        <mat-select formControlName="moral">
                                          <mat-option style="text-align: left" *ngFor="let conduct of moralConduct" [value]="conduct">
                                            {{ conduct }}
                                          </mat-option>
                                        </mat-select>
                                      </mat-form-field>


                                      <mat-form-field>
                                        <textarea matInput formControlName="description" placeholder="Description"></textarea>
                                      </mat-form-field>

                                      <!-- {{CharacterCertForm".value | json}} -->

                                <button mat-raised-button type="submit" class="btn btn-info my-4 btn-block reg_btn box_border" (click)="submitCharacterCert()">Submit</button>
                                    </div>
                              </mat-action-row>
                            </mat-expansion-panel>
                            <mat-expansion-panel>
                              <mat-expansion-panel-header>Leaving Certificate</mat-expansion-panel-header>
                              <mat-action-row>
                                <button mat-button color="primary">USE</button>
                              </mat-action-row>
                            </mat-expansion-panel>
                            <mat-expansion-panel>
                              <mat-expansion-panel-header>Educational Certificate</mat-expansion-panel-header>
                              <mat-expansion-panel>
                                <mat-expansion-panel-header>G.C.E. (A/L) Certificate </mat-expansion-panel-header>
                                <mat-action-row>
                                  <button mat-button color="primary">USE</button>
                                </mat-action-row>
                              </mat-expansion-panel>
                              <mat-expansion-panel>
                                <mat-expansion-panel-header>G.C.E. (O/L) Certificate </mat-expansion-panel-header>
                                <mat-action-row>
                                  <button mat-button color="primary">USE</button>
                                </mat-action-row>
                              </mat-expansion-panel>
                            </mat-expansion-panel>
                          </mat-accordion>
                        </mat-card>
                      </mat-tab>
                      <mat-tab label="PENDING CERTIFICATES"> pending principal approval </mat-tab>
                      <mat-tab label="CERTIFICATION HISTORY"> History </mat-tab>
                    </mat-tab-group>

                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
