
<div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <app-sidebar></app-sidebar>
      </div>

      <div class="container-fluid col-md-9 reg-form" style="background-color:white">
          <div class="container">
            <h2 style="color:  rgb(0, 140, 255); font-weight: bold; padding-top: 20px;">CERTIFICATION MODULE</h2>
            <hr>
          </div>
          <div>
              <mat-tab-group>
                  <mat-tab label="REQUESTED CERTIFICATES">list certification requests from students ( via certification component) heree</mat-tab>
                  <mat-tab label="PREPARE CERTIFICATES">list type of certificates heree</mat-tab>
                  <mat-tab label="PENDING CERTIFICATES"> pending principal approval </mat-tab>
                  <mat-tab label="CERTIFICATION HISTORY"> History </mat-tab>
              </mat-tab-group>
          </div>



        </div>
  </div>

