<div class="row">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <app-sidebar></app-sidebar>
            </div>
            <div class="container-fluid col-md-10" style="background-color:white">
                <div class="flashMessage">
                    <ng-flash-message></ng-flash-message>
                </div>
                <div>

                  <div class="container">
                    <h2 style="color:  rgb(0, 140, 255); font-weight: bold; padding-top: 50px;">Admin - Certification</h2>
                    <hr>
                  </div>
                  <div style="padding-left: 50px; padding-right: 50px">
                    <mat-tab-group>
                      <mat-tab label="REQUESTED CERTIFICATES">list certification requests from students ( via certification
                        component) here
                      </mat-tab>
                      <mat-tab label="PREPARE CERTIFICATES">
                        <mat-card >
                          <mat-accordion>

              <!-- ************************************************** Student Status Certificate Form ********************************************* -->
                            <mat-expansion-panel [formGroup]="StudentStatusForm">
                              <mat-expansion-panel-header>Student Status Verification Certificate</mat-expansion-panel-header>
                              <mat-action-row>
                                <div class="container">
                                  <mat-form-field>
                                    <input matInput formControlName="studentName" placeholder="Name of the Student">
                                  </mat-form-field>
                                  <mat-form-field>
                                    <input matInput formControlName="admissionNum" placeholder="Admission Number">
                                  </mat-form-field>
                                  <mat-form-field>
                                    <input matInput formControlName="dateofAdmission" [matDatepicker]="picker" placeholder="Date of Admission">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                  </mat-form-field>
                                  <mat-form-field>
                                    <textarea matInput formControlName="description" placeholder="Description"></textarea>
                                  </mat-form-field>

                                  <!-- {{StudentStatusForm.value | json}} -->

                            <button mat-raised-button type="submit" class="btn btn-info my-4 btn-block reg_btn box_border" (click)="submitStudentstatus()">Submit</button>
                                </div>
                              </mat-action-row>

                            </mat-expansion-panel>

              <!-- ************************************************** Character Certificate Form ********************************************* -->
                            <mat-expansion-panel [formGroup]="CharacterCertForm">
                              <mat-expansion-panel-header>Character Certificate</mat-expansion-panel-header>
                              <mat-action-row>
                                  <div class="container">
                                      <mat-form-field>
                                        <input matInput formControlName="studentName" placeholder="Name of the Student">
                                      </mat-form-field>
                                      <mat-form-field>
                                        <input matInput formControlName="admissionNum" placeholder="Admission Number">
                                      </mat-form-field>
                                      <mat-form-field>
                                          <input matInput formControlName="lastClass" placeholder="Last Class of Study">
                                      </mat-form-field>
                                      <mat-form-field>
                                          <input matInput formControlName="lastExam" placeholder="Last Exam Sat">
                                      </mat-form-field>
                                      <mat-form-field>
                                          <input matInput formControlName="examYear" placeholder="Examination Year">
                                      </mat-form-field>
                                      <mat-form-field>
                                         <input matInput type="date" formControlName="dateofAdmission" placeholder="Date of Admission">
                                      </mat-form-field>
                                      <mat-form-field>
                                        <input matInput type="date" formControlName="dateofLeaving" placeholder="Date of Leaving">
                                      </mat-form-field>
                                      <mat-form-field>
                                        <mat-label>Academic Performance</mat-label>
                                        <mat-select formControlName="academicStatus">
                                          <mat-option style="text-align: left" *ngFor="let acaPer of academicPerformance" [value]="acaPer">
                                            {{ acaPer }}
                                          </mat-option>
                                        </mat-select>
                                      </mat-form-field>
                                      <mat-form-field>
                                        <mat-label>Moral Conduct</mat-label>
                                        <mat-select formControlName="moral">
                                          <mat-option style="text-align: left" *ngFor="let conduct of moralConduct" [value]="conduct">
                                            {{ conduct }}
                                          </mat-option>
                                        </mat-select>
                                      </mat-form-field>
                                      <mat-form-field>
                                        <textarea matInput formControlName="leadership" placeholder="Leadership/Prefectship Details"></textarea>
                                      </mat-form-field>
                                      <mat-form-field>
                                        <textarea matInput formControlName="societies" placeholder="School based Societies/Activities"></textarea>
                                      </mat-form-field>
                                      <mat-form-field>
                                        <textarea matInput formControlName="sports" placeholder="Sports"></textarea>
                                      </mat-form-field>

                                      <!-- {{CharacterCertForm.value | json}} -->

                                <button mat-raised-button type="submit" class="btn btn-info my-4 btn-block reg_btn box_border" (click)="submitCharacterCert()">Submit</button>
                                    </div>
                              </mat-action-row>
                            </mat-expansion-panel>

                <!-- ************************************************** Leaving Certificate Form ********************************************* -->
                            <mat-expansion-panel [formGroup]="LeavingCertForm">
                              <mat-expansion-panel-header>Leaving Certificate</mat-expansion-panel-header>
                              <mat-action-row>
                                <div class="container">
                                  <mat-form-field>
                                    <input matInput formControlName="studentName" placeholder="Name of the Student in Full">
                                  </mat-form-field>
                                  <mat-form-field>
                                    <input matInput type="date" formControlName="dateofBirth" placeholder="Date of Birth">
                                 </mat-form-field>
                                  <mat-form-field>
                                    <input matInput formControlName="fathersName" placeholder="Name of Father or Guardian in Full">
                                  </mat-form-field>
                                  <mat-form-field>
                                    <input matInput formControlName="fathersOccupation" placeholder="Father's or Guardian's Occupation">
                                  </mat-form-field>
                                  <mat-form-field>
                                    <textarea matInput formControlName="fathersAddress" placeholder="Father's or Guardian's Permenant Address"></textarea>
                                  </mat-form-field>
                                  <mat-form-field>
                                    <mat-label>Religion</mat-label>
                                    <mat-select formControlName="religion">
                                      <mat-option style="text-align: left" *ngFor="let rel of religions" [value]="rel">
                                        {{ rel }}
                                      </mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                  <mat-form-field>
                                      <input matInput formControlName="schoolName" placeholder="Name of School">
                                  </mat-form-field>
                                  <mat-form-field>
                                    <mat-label>Type of School</mat-label>
                                    <mat-select formControlName="schoolType">
                                      <mat-option style="text-align: left" *ngFor="let typ of schooltypes" [value]="typ">
                                        {{ typ }}
                                      </mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                  <mat-form-field>
                                    <input matInput formControlName="admissionNum" placeholder="Admission Number">
                                  </mat-form-field>
                                  <mat-form-field>
                                     <input matInput type="date" formControlName="dateofAdmission" placeholder="Date of Admission">
                                  </mat-form-field>
                                  <mat-form-field>
                                    <input matInput type="date" formControlName="dateofLeaving" placeholder="Date of Leaving">
                                  </mat-form-field>
                                  <mat-form-field>
                                    <input matInput formControlName="cause" placeholder="Cause of Leaving">
                                  </mat-form-field>
                                  <mat-form-field>
                                    <input matInput formControlName="lastClass" placeholder="Last Standard the pupil passed">
                                  </mat-form-field>
                                  <mat-form-field>
                                    <textarea matInput formControlName="subjects" placeholder="Subjects studied in the Last Class"></textarea>
                                  </mat-form-field>

                                  <!-- {{LeavingCertForm.value | json}} -->

                            <button mat-raised-button type="submit" class="btn btn-info my-4 btn-block reg_btn box_border" (click)="submitLeavingCert()">Submit</button>
                                </div>
                              </mat-action-row>
                            </mat-expansion-panel>

                            <mat-expansion-panel>
                              <mat-expansion-panel-header>Educational Certificate</mat-expansion-panel-header>

                  <!-- ************************************************** A/L Certificate Form ********************************************* -->
                                <mat-expansion-panel [formGroup]="AlCertForm">
                                  <mat-expansion-panel-header>G.C.E. (A/L) Certificate </mat-expansion-panel-header>
                                  <mat-action-row>
                                      <div class="container">
                                          <mat-form-field>
                                            <input matInput formControlName="studentName" placeholder="Name of the Student in Full">
                                          </mat-form-field>
                                          <mat-form-field>
                                              <mat-label>Examination Year</mat-label>
                                              <mat-select formControlName="examYear">
                                                <mat-option style="text-align: left" *ngFor="let year of yearofExam" [value]="year">
                                                  {{ year }}
                                                </mat-option>
                                              </mat-select>
                                            </mat-form-field>
                                          <mat-form-field>
                                            <input matInput formControlName="centerNo" placeholder="Examination Center Number">
                                          </mat-form-field>
                                          <mat-form-field>
                                            <input matInput formControlName="indexNo" placeholder="Index Number">
                                          </mat-form-field>
                                          <mat-form-field>
                                            <mat-label>Medium</mat-label>
                                            <mat-select formControlName="medium">
                                              <mat-option style="text-align: left" *ngFor="let med of mediums" [value]="med">
                                                {{ med }}
                                              </mat-option>
                                            </mat-select>
                                          </mat-form-field>

                                            <mat-label>Subjects</mat-label>
                                            <button type="button" class="btn btn-secondary btn-sm m-2" (click)="addsubjects()">Add</button>
                                            <div class="container" formArrayName="subjects" *ngFor="let sub of subjects.controls; let i =index">
                                              <input matInput [formControlName]="i" placeholder="Subject">
                                              <input matInput [formControlName]="i" placeholder="Subject">
                                            </div>


                                          {{AlCertForm.value | json}}

                                    <button mat-raised-button type="submit" class="btn btn-info my-4 btn-block reg_btn box_border" (click)="submitAlCert()">Submit</button>
                                        </div>
                                  </mat-action-row>
                                </mat-expansion-panel>
                              <mat-expansion-panel>
                                <mat-expansion-panel-header>G.C.E. (O/L) Certificate </mat-expansion-panel-header>
                                <mat-action-row>
                                  <button mat-button color="primary">USE</button>
                                </mat-action-row>
                              </mat-expansion-panel>
                            </mat-expansion-panel>
                          </mat-accordion>
                        </mat-card>
                      </mat-tab>
                      <mat-tab label="PENDING CERTIFICATES"> pending principal approval </mat-tab>
                      <mat-tab label="CERTIFICATION HISTORY"> History </mat-tab>
                    </mat-tab-group>

                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
