
.reg-frm{
  box-shadow: 0px 5px 5px rgb(134, 132, 245);
  padding-top: 40px;
  width: 90%;
  text-align: center;
  margin: auto;
}

.reg-form{
  // padding-top:40px;
  padding-bottom: 50px;
}

.reg_btn{
  color: aliceblue;
  background-color: rgb(0, 140, 255);
  border-color:  rgb(0, 140, 255);
  box-shadow: 0px 5px 5px rgb(134, 132, 245);
}


.mat-form-field{
  width: 100%
}


