<div class="row" style="margin-left: -262px">
<div class="container-fluid back_gr" style="margin-top: -10px">
    <div class="row">
        <div class="container" style="text-align: center">
            <img src="../../../assets/logo/school_logo.png" class="logo_img">

        </div>
        <div class="container">
            <h1 class="scl_name" style="text-align: center">St. Jhon's College</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <p class="school_des" style="  padding-top: 40px">
                        St. John's College, started in 1915 and is the only boys' school in Nugegoda,
                        Sri Lanka. It contains two primary sections and upper school.
                    </p>
                    <p class="school_des" style="  padding-top: 20px;">
                        Nugegoda had no
                        English School until 1915. St. John's School commenced with 14 pupils on 5 May
                        1915. In 1934, the mixed school of St. John's was separated into separate Boys
                        and Girls schools,with the boys school known as the College of St. John, Nugeogda.
                    </p>
                </div>
                <div class="col-md-6 col-sm-12">
                    <p class="school_map" style="  padding-top: 40px">
                        Location :
                    </p>
                    <iframe class="map"
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d990.2931464330767!2d79.889914!3d6.869913!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc6d6e11477225b6e!2sSt.+John&#39;s+College!5e0!3m2!1sen!2sus!4v1557254222342!5m2!1sen!2sus"
                        width="300" height="225" frameborder="10" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid" style="background-color: white">
    <div class="container news_feeds">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <mat-card class="news-card">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Top News</mat-card-title>
                        <mat-card-subtitle>Date and time</mat-card-subtitle>
                    </mat-card-header>
                    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="card-img"> -->
                    <mat-card-content>
                        <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
                            Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                            originally
                            bred for hunting.
                        </p>
                    </mat-card-content>
                    <mat-card-actions style="text-align: right">
                        <button mat-raised-button class="news_view_btn">View</button>
                    </mat-card-actions>
                </mat-card>

                <mat-card class="news-card">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Top News</mat-card-title>
                        <mat-card-subtitle>Date and time</mat-card-subtitle>
                    </mat-card-header>
                    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="card-img"> -->
                    <mat-card-content>
                        <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
                            Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                            originally
                            bred for hunting.
                        </p>
                    </mat-card-content>
                    <mat-card-actions style="text-align: right">
                        <button mat-raised-button class="news_view_btn">View</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
</div>
</div>