<div class="row">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <app-sidebar></app-sidebar>
      </div>
      <div class="container-fluid col-md-10" style="background-color:white">
        <div>
          <div class="container">
            <h2 style="color:   rgb(0, 140, 255); font-weight: bold;padding-top: 20px;">News</h2>
            <hr>
          </div>
          <div style="padding-top:50px ; padding-bottom:50px">


            <form class="border text-center p-5 reg-frm" [formGroup]="NewsForm">

              <img src="../../../assets/logo/logo.png" style="width:60%; margin-bottom: 50px">

              <div class="form-row mb-4">
                <label>Topic :</label>
                <input type="text" class="form-control box_border" aria-describedby="textHelp" name="topic"
                  formControlName="topic">
              </div>

              <div class="form-row mb-4">
                <label>News Sumery :</label>
                <textarea type="text" class="form-control box_border" aria-describedby="textHelp" name="newsSumery"
                  id="textbox1" formControlName="newsSumery"></textarea>
              </div>

              <div class="form-row mb-4">
                <label>News :</label>
                <textarea type="text" class="form-control box_border" aria-describedby="textHelp" name="news"
                  id="textbox" formControlName="news"></textarea>
              </div>

              <!-- <div class="form-row mb-4">
                <label>Date :</label>
                <input type="Date" class="form-control box_border" aria-describedby="DateHelp" placeholder="dd/mm/yyyy "
                  name="date" formControlName="date">
              </div> -->
              <input type="file" class="file_upload" style="display: none" name="newspic" accept="image/*"
                (change)="selectImage($event)" #fileInput>

              <button class="btn btn-outline-primary my-4 btn-block box_border pick_btn" type="button"
                (click)="fileInput.click()" accept="image/*">Choose Image </button>

              <button (click)="addnews()" type="submit"
                class="btn btn-info my-4 btn-block reg_btn box_border upload_btn" upload_btn>Upload</button>
            </form>
          </div>


          <div class="container">
            <div>
              <div class="container">
                <div class="row">
                  <div class="col-md-10">
                    <h2 style="color:  rgb(0, 140, 255); font-weight: bold; padding-top: 50px;">NewsView
                    </h2>
                  </div>

                </div>
                <hr>
              </div>
              <br>
              <div style="padding-left: 35px; padding-right: 35px">
                <mat-card class="news-card" *ngFor="let new of news">
                  <!-- <p style="display: none" name="notice_id">{{news._id}}</p> -->
                  <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>{{new.topic}}</mat-card-title>
                    <mat-card-subtitle style="margin-top:-15px">{{new.date | date:'yyyy-MM-dd HH:mm:ss'}}
                    </mat-card-subtitle>
                  </mat-card-header>
                  <mat-card-content>
                        <h6>News image</h6>
                        <br>
                       <p>{{new.newsSumery}}</p>
                       <br>
                       <p>{{new.news}}</p>
                 </mat-card-content>
                  <mat-card-actions style="text-align: right">

                    <button mat-raised-button class="edit_btn" (click)="edit($event, new._id)">Edit</button>
                    <button mat-raised-button class="delete_btn" (click)="delete($event, new._id)">Delete</button>
                  </mat-card-actions>
                </mat-card>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
