<div class="row">
  <div class="container-fluid">
    <div class="row">
      <!-- <div class="col-md-2">
        <app-sidebar></app-sidebar>
      </div> -->
      <div class="container-fluid" style="background-color:white">
        <div>
          <div class="container">
            <h2 class="topic">News</h2>
            <hr>
          </div>
          <div style="padding-top:50px ; padding-bottom:50px">

            <div *ngIf="!editform">
              <form class="border text-center p-5 reg-frm" [formGroup]="NewsForm">

                <img src="../../../assets/logo/logo.png" style="width:60%; margin-bottom: 50px">

                <div class="form-group">
                  <p style="text-align: left">Topic :</p>
                  <input type="text" class="form-control box_border" aria-describedby="textHelp" name="topic"
                    formControlName="topic">
                  <div *ngIf="submitted && f.topic.errors" class="err_msg">
                    <div *ngIf="f.topic.errors.required">Topic is required</div>
                    <div *ngIf="f.topic.errors.maxlength">Topic must less than 30 characters</div>
                  </div>
                </div>

                <div class="form-row mb-4">
                  <p style="text-align: left;">News Summary :</p>
                  <textarea type="text" class="form-control box_border" aria-describedby="textHelp" name="newsSumery"
                    id="textbox1" formControlName="newsSumery"></textarea>
                  <div *ngIf="submitted && f.newsSumery.errors" class="err_msg">
                    <div *ngIf="f.newsSumery.errors.required">Summary is required</div>
                    <div *ngIf="f.newsSumery.errors.maxlength">Summary must less than 400 characters</div>
                  </div>
                </div>

                <div class="form-row mb-4">
                  <label>News :</label>
                  <textarea type="text" class="form-control box_border" aria-describedby="textHelp" name="currentNews"
                    id="textbox" formControlName="news"></textarea>
                  <div *ngIf="submitted && f.news.errors" class="err_msg">
                    <div *ngIf="f.news.errors.maxlength">News must less than 800 characters</div>
                  </div>
                </div>


                <input type="file" class="file_upload" style="display: none" name="newspic" accept="image/*"
                  (change)="selectImage($event)" #fileInput>

                <button class="btn btn-outline-primary my-4 btn-block box_border pick_btn" type="button"
                  (click)="fileInput.click()" accept="image/*">Choose Image </button>
                <small class="form-text text-muted mb-4" style=" text-align: left; margin-top: -18px">
                  {{filename}}
                </small>
                <p>&nbsp;</p>
                <button (click)="addnews()" type="submit"
                  class="btn btn-info my-4 btn-block reg_btn box_border upload_btn" upload_btn>Upload</button>

              </form>
            </div>


            <!-- edit form -->

            <div *ngIf="editform" >
              <form class="border text-center p-5 reg-frm" [formGroup]="NewsForm">

                <img src="../../../assets/logo/logo.png" style="width:60%; margin-bottom: 50px">

                <div class="form-group">
                  <p style="text-align: left">Topic :</p>


                  <input type="text" class="form-control box_border" aria-describedby="textHelp" name="topic"
                    formControlName="topic" [(ngModel)]="newsEdit.topic">



                  <div *ngIf="submitted && f.topic.errors" class="err_msg">
                    <div *ngIf="f.topic.errors.required">Topic is required</div>
                    <div *ngIf="f.topic.errors.maxlength">Topic must less than 30 characters</div>
                  </div>
                </div>

                <div class="form-row mb-4">
                  <p style="text-align: left;">News Summary :</p>
                  <textarea type="text" class="form-control box_border" aria-describedby="textHelp" name="newsSumery"
                    id="textbox1" formControlName="newsSumery" [(ngModel)]="newsEdit.newsSumery"></textarea>
                  <div *ngIf="submitted && f.newsSumery.errors" class="err_msg">
                    <div *ngIf="f.newsSumery.errors.required">Summary is required</div>
                    <div *ngIf="f.newsSumery.errors.maxlength">Summary must less than 400 characters</div>
                  </div>
                </div>

                <div class="form-row mb-4">
                  <label>News :</label>
                  <textarea type="text" class="form-control box_border" aria-describedby="textHelp" name="news"
                    id="textbox" formControlName="news" [(ngModel)]="newsEdit.news"></textarea>
                  <div *ngIf="submitted && f.news.errors" class="err_msg">
                    <div *ngIf="f.news.errors.maxlength">News must less than 800 characters</div>
                  </div>
                </div>


                <input type="file" class="file_upload" style="display: none" name="newspic" accept="image/*"
                  (change)="selectImage($event)" #fileInput>

                <button class="btn btn-outline-primary my-4 btn-block box_border pick_btn" type="button"
                  (click)="fileInput.click()" accept="image/*">Choose Image </button>
                <small class="form-text text-muted mb-4" style=" text-align: left; margin-top: -18px">
                  {{filename}}
                </small>
                <p>&nbsp;</p>
                <button (click)="updatenews($event)" type="submit"
                  class="btn btn-info my-4 btn-block reg_btn box_border upload_btn" upload_btn>Update</button>
              </form>
            </div>




          </div>


          <div class="container">
            <div>
              <div class="container">
                <div class="row">
                  <div class="col-md-10">
                    <h2 class="topic" style="color:  rgb(0, 140, 255); padding-top: 50px;">NewsView
                    </h2>
                  </div>
                </div>

                <hr>

              </div>
              <br>
              <div style="padding-left: 35px; padding-right: 35px">
                <mat-card class="news-card" *ngFor="let new of news">

                  <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>{{new.topic}}</mat-card-title>
                    <mat-card-subtitle style="margin-top:-15px">{{new.date | date:'yyyy-MM-dd HH:mm:ss'}}
                    </mat-card-subtitle>
                  </mat-card-header>

                  <mat-card-content>
                    <h6>{{new.newsSumery}}</h6>
                    <p>{{new.news}}</p>
                  </mat-card-content>

                  <mat-card-subtitle *ngIf="new.filePath" style="padding-right: 20px"><a
                      href="http://localhost:3000/news/newsAttachment/{{new.filePath}}"><img
                        src="../../../../assets/icons/paperclip-solid.svg"
                        class="attachment_icn">&nbsp;&nbsp;Attachment</a>
                  </mat-card-subtitle>

                  <mat-card-actions style="text-align: right">

                    <button mat-raised-button class="edit_btn" (click)=" onEdit($event , new._id ,new.filePath)">Edit</button>
                    <button mat-raised-button class="delete_btn"
                      (click)="delete($event, new._id, new.filePath)">Delete</button>
                  </mat-card-actions>
                </mat-card>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
